 
<div style="font-family:'Montserrat', sans-serif;">
  <mat-toolbar style="background-color: white; position: relative;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="image" ><img src = "https://apiplatform.io/assets/logo/logo.svg" width = "40px"></span>
      <span class = "text" >apiplatform.io</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>
          <mat-icon>attach_money</mat-icon>
          Pricing
        </a>
        <a href="#" mat-button>
          <mat-icon>phone</mat-icon>
          Contact
        </a>
        <a href="#" mat-button>
          <mat-icon>account_box</mat-icon>
          Login
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>attach_money</mat-icon>
          Pricing
        </a>
        <a href="#" mat-list-item>
          <mat-icon>phone</mat-icon>
          Contact</a>
        <a href="#" mat-list-item>
          <mat-icon>account_box</mat-icon>
          Login
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" style="background-color:#ffffff;  ">
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z0">
          <mat-card-header> 
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title style="font-size: 50px; font-family: 'Montserrat', sans-serif;">Create, Launch & Manage APIs
               on cloud in minutes!</mat-card-title><br>
            <mat-card-subtitle style="font-size: 25px; font-family: 'Montserrat', sans-serif;"><span style="color: orange;">apiplatform.io</span> is a cloud-agnostic <span style="color: orange;">no-code platform</span><br> that lets you build and launch APIs intelligently,<br>securely but instantly!</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="">

        </mat-card>
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src='https://apiplatform.io/assets/img/home-top.png' >

        </mat-card>
      </div>

      <div fxLayout="row wrap" fxLayout.xs="column" style="background-color:#ffffff;" >
        <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z0">

          <h1 style="font-size: 50px; text-align: center;  font-family: 'Montserrat', sans-serif;">Why apiplatform.io ?</h1>

        </mat-card>
        </div>


        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px" style="background-color:#ffffff; padding-top: 25px; padding-left: 15px; padding-right: 15px;">
      
          <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)"  class="mat-elevation-z5" style="border-radius: 10px;"> 
            <mat-card-header style="justify-content: center;"> 
              <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Fully Automated ! </mat-card-title><br>
              <mat-card-subtitle style="font-size: 60px; font-family: 'Montserrat', sans-serif;"> 2400X  </mat-card-subtitle>
              <mat-card-subtitle><mat-icon style="font-size: 70px; color:green">trending_up</mat-icon>
                <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Improved Productivity  </mat-card-subtitle>

              </mat-card-subtitle>

            </mat-card-header>
          </mat-card>

          <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z5" style="border-radius: 10px;">
            <mat-card-header  style="justify-content: center;"> 
              <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Highly Configurable ! </mat-card-title><br>
              <mat-card-subtitle style="font-size: 60px; font-family: 'Montserrat', sans-serif;"> 250X  </mat-card-subtitle>
              <mat-card-subtitle><mat-icon  style="font-size: 70px; color: red;">trending_down</mat-icon></mat-card-subtitle>
              <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Reduction in cost  </mat-card-subtitle>

            </mat-card-header>
          </mat-card>

          <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z5" style="border-radius: 10px;">
            <mat-card-header  style="justify-content: center;"> 
              <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Developer Experience ! </mat-card-title><br>
              <mat-card-subtitle style="font-size: 60px; font-family: 'Montserrat', sans-serif;"> 1 Minute  </mat-card-subtitle>
              <mat-card-subtitle><mat-icon  style="font-size: 70px; color: orange;">alarm</mat-icon></mat-card-subtitle>
              <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Design to public access  </mat-card-subtitle>

            </mat-card-header>
          </mat-card>
        </div>

        <h2 style="font-size: 50px; text-align: center;  font-family: 'Montserrat', sans-serif;">Too good to believe these numbers ?
        </h2>


        <h1 style="text-align: center;  font-family: 'Montserrat', sans-serif;">
        <button style="font-size: 20px; color:orange " mat-button (click)="openDialog()" mat-stroked-button>click here !</button>
       </h1>

       <h1 style="font-size: 50px; text-align: center;  font-family: 'Montserrat', sans-serif; margin-top: 100px;">How it works ?</h1>



       <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="padding-top: 30px; ">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Generate and launch APIs instantly
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/generate.svg' style="width: 50%;">
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="background-color: #fafafa; padding-top: 30px;">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Deploy API lightning fast
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/deploy.svg' style="width: 50%;">
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="padding-top: 30px;" >
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Self service API Management
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/intelli.svg' style="width: 50%;"  >
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="background-color: #fafafa; padding-top: 30px;  ">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Intuitive Developer Experience
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/checkout-graphic.svg' style="width: 50%;">
      </mat-card>
      

  <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z5" style="background-color: #212121;">
    
    <mat-card-header style="justify-content: center;"> 
      <span ><img src = "https://apiplatform.io/assets/logo/logo.svg" width = "40px"></span>
      <span class = "text" style="color: white;">apiplatform.io</span>
    </mat-card-header>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" style="background-color:#212121;">
      
      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center;">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Company
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            About us
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Careers
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Privacy Policy
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>
            Terms of Service
          </a>
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Products
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            API Swifter
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            API Deployer
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Smart Control Pane 
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>
            API DX
          </a>
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Resources
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Blogs
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            FAQ
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Community
          </a><br>
        
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Get Started  
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Contact sales
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Market place
          </a>

          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>
     
      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Loved Our Platform ?
        </mat-card-title>

        <mat-card-subtitle style="  ">
        <button class="button1"><b>Get Started</b></button>
        <h4 class="_14">Follow us on</h4>
        <div class="footer-social-icons">
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-rss"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-github"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-facebook"></i></a>
      </div>
          </mat-card-subtitle>
      </mat-card-header>
       
      <mat-card-content>
        <a href="#" mat-button>

          Any Queries or Issues ? Click here.
</a>

<p>© 2020 Copyright | apiplatform.io | DevOpsBees, Inc. | All rights reserved.</p>

      </mat-card-content>

      
      </mat-card>

      </div>

  </mat-card>

      </mat-sidenav-container>



</div>