.example-icon {
  padding: 0 14px;
}

.mat-card {
  border-style: none;
  
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.text {
  font-size: 30px;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.image {
  margin-top: 9px;
}

mat-grid-tile {
  background: lightblue;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}