<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" style="background-color:#ffffff;  ">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z0" style="justify-content: center;">
      <mat-card-header> 
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 50px; font-family: 'Montserrat', sans-serif;">Create, Launch & Manage APIs
           on cloud in minutes!</mat-card-title><br>
        <mat-card-subtitle style="font-size: 25px; font-family: 'Montserrat', sans-serif; margin-top: 15px;"><span style="color: orange;">apiplatform.io</span> is a cloud-agnostic <span style="color: orange;">no-code platform</span><br> that lets you build and launch APIs intelligently,<br>securely but instantly!</mat-card-subtitle>
    
      </mat-card-header>

      <button class="button3" >Get started</button>
      <button class="button3 button4" >Contact Sales</button>
      <br>

      <mat-card style="margin-top :20px;">
      <p class = "t">          <mat-icon style="color: red;">favorite</mat-icon>
        40 Free APIs</p>
      <p class = "t">          <mat-icon style="color: red;">favorite</mat-icon>
        No Credit Card</p>
      </mat-card>

    </mat-card>
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='https://apiplatform.io/assets/img/home-top.png' >

    </mat-card>
  </div>

