<h2 style="font-size: 50px; text-align: center;  font-family: 'Montserrat', sans-serif; margin-top: 200px;">Too good to believe these numbers ?
</h2>

<h1 style="text-align: center;  font-family: 'Montserrat', sans-serif;">
<button style="font-size: 20px; color:orange " mat-button (click)="openDialog()" mat-stroked-button>click here !</button>
</h1>

<h2 style="font-size: 50px; text-align: center;  font-family: 'Montserrat', sans-serif;  margin-top: 200px;">What do we ensure ?
</h2>



<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px" style="background-color:#ffffff; padding-top: 25px; padding-left: 15px; padding-right: 15px;">

<mat-card fxFlex="calc(33%-300px)" fxFlex.sm="calc(100%-25px)"  class="mat-elevation-z2" style="border-radius: 10px;"> 
  <mat-card-header style="justify-content: center; padding-top: 20px;"> 
    <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Availabilty </mat-card-title><br>
    <mat-card-subtitle style="color: forestgreen;font-size: 60px; font-family: 'Montserrat', sans-serif;"> 99.99%  </mat-card-subtitle>
    <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Uptime  </mat-card-subtitle>


  </mat-card-header>
</mat-card>

<mat-card fxFlex="calc(33%-300px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
  <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
    <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Quality </mat-card-title><br>
    <mat-card-subtitle style="color: forestgreen; font-size: 60px; font-family: 'Montserrat', sans-serif;"> 0.25%  </mat-card-subtitle>
    <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Server Error Rate</mat-card-subtitle>

  </mat-card-header>
</mat-card>

<mat-card fxFlex="calc(33%-300px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
  <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
    <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Reliability </mat-card-title><br>
    <mat-card-subtitle style="color: forestgreen;font-size: 60px; font-family: 'Montserrat', sans-serif;"> 99.99% </mat-card-subtitle>
    <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Effective Pass Rate</mat-card-subtitle>

  </mat-card-header>
</mat-card>

<mat-card fxFlex="calc(33%-300px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
  <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
    <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Perfomance </mat-card-title><br>
    <mat-card-subtitle style="color: forestgreen;font-size: 60px; font-family: 'Montserrat', sans-serif;">300ms </mat-card-subtitle>
    <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Total API Call Latency  </mat-card-subtitle>

  </mat-card-header>
</mat-card>

<mat-card fxFlex="calc(33%-300px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
  <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
    <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Scalabilty </mat-card-title><br>
    <mat-card-subtitle style="color: forestgreen;font-size: 60px; font-family: 'Montserrat', sans-serif;"> 2000 </mat-card-subtitle>
    <mat-card-subtitle style="font-size: 30px; font-family: 'Montserrat', sans-serif;"> Transactions per second </mat-card-subtitle>

  </mat-card-header>
</mat-card>
</div>