<div fxLayout="row wrap" fxLayout.xs="column" style="background-color:#ffffff;" >
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z0">

      <h1 style="font-size: 40px; text-align: center;  font-family: 'Montserrat', sans-serif;  margin-top: 200px;">Why apiplatform.io ?</h1>

    </mat-card>
    </div>



  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px" style="background-color:#ffffff; padding-top: 25px; padding-left: 15px; padding-right: 15px;">

    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)"  class="mat-elevation-z2" style="border-radius: 10px;"> 
      <mat-card-header style="justify-content: center; padding-top: 20px;"> 
        <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Fully Automated  </mat-card-title><br>
        <mat-card-subtitle style="font-size: 50px; font-family: 'Montserrat', sans-serif; margin-left: 35px;"> 2400X  </mat-card-subtitle>
        <mat-card-subtitle><mat-icon style="font-size: 70px; color:green; margin-left: 60px;">trending_up</mat-icon></mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px; font-family: 'Montserrat', sans-serif; margin-left: 20px;"> Improved Productivity  </mat-card-subtitle>


      </mat-card-header>
    </mat-card>

    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
      <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
        <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Highly Configurable  </mat-card-title><br>
        <mat-card-subtitle style="font-size: 50px; font-family: 'Montserrat', sans-serif; margin-left: 80px;"> 250X  </mat-card-subtitle>
        <mat-card-subtitle><mat-icon  style="font-size: 70px; color: red; margin-left: 100px;">trending_down</mat-icon></mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px; font-family: 'Montserrat', sans-serif;margin-left: 50px;"> Reduction in cost  </mat-card-subtitle>

      </mat-card-header>
    </mat-card>

    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="border-radius: 10px;">
      <mat-card-header  style="justify-content: center; padding-top: 20px;"> 
        <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Developer Experience  </mat-card-title><br>
        <mat-card-subtitle style="font-size: 50px; font-family: 'Montserrat', sans-serif; margin-left: 45px;"> 1 Minute  </mat-card-subtitle>
        <mat-card-subtitle><mat-icon  style="font-size: 70px; color: orange;margin-left: 111px;">alarm</mat-icon></mat-card-subtitle>
        <mat-card-subtitle style="font-size: 20px; font-family: 'Montserrat', sans-serif; margin-left: 40px;"> Design to public access  </mat-card-subtitle>

      </mat-card-header>
    </mat-card>
  </div>