<mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(100%-25px)" class="mat-elevation-z2" style="background-color: #212121; margin-top: 200px;">
    
    <mat-card-header style="justify-content: center; margin-top: 30px;"> 
      <span ><img src = "https://apiplatform.io/assets/logo/logo.svg" width = "40px"></span>
      <span class = "text" style="color: white; ">apiplatform.io</span>
    </mat-card-header>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" style="background-color:#212121; margin-top: 70px;">
      
      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center;">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Company
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            About us
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Careers
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Privacy Policy
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>
            Terms of Service
          </a>
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Products
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            API Swifter
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            API Deployer
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Smart Control Pane 
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>
            API DX
          </a>
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Resources
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Blogs
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            FAQ
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Community
          </a><br>
        
          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Get Started  
           <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Contact sales
          </a><br>
          <a href="#" mat-button>
            <mat-icon style="color: orange;">favorite</mat-icon>

            Market place
          </a>

          
        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>
     
      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
           Loved Our Platform ?
        </mat-card-title>

        <mat-card-subtitle>
        <button class="button1"><b>Get Started</b></button>
          </mat-card-subtitle>
      </mat-card-header>
      
      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; padding-left: 35%;">
        
        <mat-card-title style="padding-left: 20px; color: orange;" >
            Follow us on
        </mat-card-title>

        <mat-card-subtitle>
        <span class="footer-social-icons">
            <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-rss"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-github"></i></a>
            <a href="" class="social-icon"> <i class="fa fa-facebook"></i></a>
        </span>
          </mat-card-subtitle>
      </mat-card-header> 

</mat-card>

      <mat-card-content >
       

      </mat-card-content>

      
      </mat-card>


      <mat-card style="background-color:inherit; color: white;" class="mat-elevation-z0" >
        <mat-card-header style="justify-content: center; ">
        
          <mat-card-title style="padding-left: 20px; color: orange;" >
            <hr>
        </mat-card-title>

        <mat-card-subtitle>

          <a href="#" mat-button>
            Any Queries or Issues ? Click here.
          </a>
  
        <p>© 2020 Copyright | apiplatform.io | DevOpsBees, Inc. | All rights reserved.</p>

        </mat-card-subtitle>
      </mat-card-header>
       
      </mat-card>

      </div>

  </mat-card>