       <h1 style="font-size: 45px; text-align: center;  font-family: 'Montserrat', sans-serif; margin-top: 200px;">How it works ?</h1>


       <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="25px">

       <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="padding-top: 30px; ">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Generate and launch APIs instantly
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/generate.svg' style="width: 50%;">
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="background-color: #fafafa; padding-top: 30px;">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Deploy API lightning fast
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/deploy.svg' style="width: 50%;">
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="padding-top: 30px;" >
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Self service API Management
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/intelli.svg' style="width: 50%;"  >
      </mat-card>

      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" class="mat-elevation-z0" style="background-color: #fafafa; padding-top: 30px;  ">
        <mat-card-header style="justify-content: center;" >
          <mat-card-title style="font-size: 30px; font-family: 'Montserrat', sans-serif;">Intuitive Developer Experience
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img class="image2" src='https://apiplatform.io/assets/img/checkout-graphic.svg' style="width: 50%;">
      </mat-card>
      
</div>